@charsert 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'fonteLogo' ;
    src: url(../_fonts/computer-font.ttf) ;

}
hgroup#cima {
    

}
body{
    background: #dddddd;
    color: rgba(0, 0, 0, 0.918);
    font-family: Arial, Helvetica, sans-serif;

}
a {
    text-decoration: none;
    color: #888888;
    font-weight: bolder;
    
}
a:hover {
    text-decoration: underline;
}
div#interface {
    background-color: white;
    width: 900px;
    margin: -20px auto 0px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.575);
    padding: 10px 10px 10px 10px;

}
header#cabecalho img#ocPeq {
    position: absolute;
    top: 70px;
    left: 1050px;

}
header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}
header#cabecalho h1{
    font-family: fonteLogo ;
    font-size: 30px;
    color:#606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596);
    padding:  0px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15px;
    padding: 0px;
    margin-top: 0px;
    
}
table#espec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#espec td {
    border: 1px solid #606060;
    padding: 10px;
}
table#espec td.esq {
    text-align: right;
    background-color: #606060;
    color: #ffffff;
    vertical-align: top;
    font-weight: bold;
}
table#espec td.dir {
    background-color: #cecece;   
}
table#espec caption {
    font-size: 20px;
    font-weight: bolder;
    
}

p {
   text-align: justify; 
}
figure#fig {
    position: relative;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.541);
}
figure#fig img{
    width: 100%;
    height: 100%;
}
figure#fig figcaption {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s; 
}
figure#fig:hover figcaption{
    opacity: 1;
}

/*formatação do menu*/


nav#menu{
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 575px;      
}

nav#menu li{
    display: inline-block;
    background-color: lightgray;
    padding: 10px;
    margin:2px;
    transition: background-color 1s;
}
nav#menu li:hover{
    background-color: #606060;
}
nav#menu h1{
    display:none;
}
nav#menu a{
    color: black;
    text-decoration: none;

}
nav#menu a:hover{
    color: white;

}

section#corpo {
    display: block;
    width: 450px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 10px;
}
article#noticia h2 {
    background-color:#dddddd;
    font-size: 12pt;
    color: #606060;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
header#article h1 {
    font-family: 'fonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: -10px;
}
header#article h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
    margin-top: -30px
}
header#article h3.data {
    margin-top: -15px;
    font-size: 10pt;
    display: block;
    float: right;

}
aside#lateral {
    display: block;
    width: 400px;
    float: right;
    padding: 10px;
    background-color: #dddddd;
    box-shadow: rgba(0, 0, 0, 0.541) 2px 2px 2px;
    margin-top: 10px;
}
aside#lateral h1{
    font-family: 'fonteLogo';
    color: #606060;
    font-size: 20pt;
    margin-top: 0px;
}
aside#lateral h2 {
    background-color: #606060;
    color: #ffffff;
    padding: 5px 0 5px 10px;

    font-size: 12pt;
}
footer#rodape {
    clear: both;
    border-top: #606060 solid 1px;

}
footer#rodape p {
    text-align: center;
}

