@charset "UTF-8";


form {
    width: 500px;
    margin: auto;
}

input {
    font-family: sans-serif;
    font-weight: normal;
    font-size-adjust: 12pt;

}
input:hover, textarea:hover {
    background-color: #dddddd;
}
legend {
    color: #888888;
    font-weight: bold;
    font-size: 12pt;
    font-family: sans-serif;
}
fieldset {
    border-color: #cecece;
    margin: 20px;
}
fieldset#sex {
    width: 150px;
 }

 fieldset#id {
     background: url(../_imagens/icone-contato.png) no-repeat 95% 95% ;
 }
 fieldset#endereco {
     background: url(../_imagens/icone-endereco.png) no-repeat 95% 95%;
 }
 fieldset#msg {
     background: url(../_imagens/icone-mensagem.png) no-repeat 95% 95%;
 }
fieldset#pagamento {
    background: url(../_imagens/icone-pagamento.png) no-repeat 95% 95%;
}