@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin:auto;

}
iframe#frameSpecs {
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden;
     
}
iframe#frameSpecs::-webkit-scrollbar {
    display: none;
}
area {
    outline: none;
}